<div class='container'>
    <h2>helo celo</h2>
    <div class='form-group'>
        <form action="" method='post'>
            <div class='form-group row'>
                <div class="col-sm-10">
                    <p style="color:white;"  >Enter username :</p><input type="text"  name="username" >
                </div>
             </div>
            <div class="form-group row">
                <div class='col-sm-10'>
                    <p style="color:white;">Enter email:</p><input type="text" name="email" >
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <p style="color:white;">Enter password:</p><input type="password" name="password1" >
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <p style="color:white;">Re-enter password:</p><input type="password" name="password2" >
                </div>
            </div>
        <button class="btn btn-dark">Register</button>
    </form>
    </div>
    <br>
    <div class="form-group">
    <label for="exampleFormControlTextarea1" style="color:white;">add some comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>